div{
    background-color: aquamarine;
    font-family: 'Times New Roman', Times, serif;
    color: chocolate;

}
h3{
    color: black;
    background-color: brown;
}
#new{
    color: blueviolet;
    font-size: large;
}